
.bio-image {
  max-width: 40px;
  max-height: 40px;
  border-radius: 80px;
  object-fit: cover;
  /* margin-top: 20px; */
  display: fixed;
  /* flex-direction: column; */
  /* align-items: center; */
}
