.bio-avatar {
  width: 100px;
  height: 60px;
  display: fixed;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 60px;
  max-height: 60px;
}

.bio-image {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}