


.rounded-box {
  width: 90%;
  height: 100px;
  background: rgb(247, 247, 247);
  border-radius: 15px;
  margin: 20px auto;
  box-shadow:
    0 0 20px rgba(237, 229, 221, 0.8),
    0 0 40px rgba(237, 196, 130, 0.6),
    0 0 60px rgba(128, 128, 128, 0.4);
}