@font-face {
  font-family: 'Ephidona';
  src: url('/public/Ephidona.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.main {
  max-width: 60%;
  margin: 50px auto;
  text-align: center;
  font-family: 'Ephidona';
  color: #333;
  line-height: 1.6;
}