@font-face {
  font-family: 'Ephidona';
  src: url('/public/Ephidona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.myname {
  font-family: 'Ephidona', sans-serif;
  font-size: 72px;
  color: #333333;
  text-align: left;
  margin-top: 20px;
  letter-spacing: 3px;
}

.myname-chinese {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333333;
  text-align: left;
  margin-top: -30px;
  letter-spacing: 0px;
}

.heading {
  font-family: 'Ephidona', sans-serif;
  font-size: 48px;
  color: #333333;
  text-align: left;
  margin-top: 40px;
}