@font-face {
  font-family: 'Ephidona';
  src: url('/public/Ephidona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --grad-1: #7a3cff;
  --grad-2: #ff4d4f;
  --grad-3: #ffc107;
}


.myname {
  font-family: 'Ephidona', sans-serif;
  font-size: 80px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 3px;
}

.addressline {
  font-family: 'Ephidona', sans-serif;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 0px;
  letter-spacing: 0px;
}

.contactline {
  font-family: 'Ephidona', sans-serif;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 0px;
  letter-spacing: 0px;
}

.heading {
  font-family: 'Ephidona', sans-serif;
  font-size: 48px;
  color: #333333;
  text-align: left;
  margin-top: 40px;
}

.bigger-text {
  font-family: 'Charter', sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;
}

.normal-text {
  font-family: 'Charter', sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;
}

.normal-text-highlight {
  font-family: 'Charter', sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;

  /* Gradient text color */
  background: linear-gradient(90deg, var(--grad-1), var(--grad-2), var(--grad-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}